@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* colour scheme to use
color: #9a4e30 medium dark shade of orange.
color: #dea17c medium light shade of orange.
color: #ddebd4 very light shade of green.
color: #70867f shade of green-cyan.
color: #6b7050 medium-dark shade of yellow-green.
*/

/* dont run code below unless screen width is below 480px */

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0%;
}
header {
  display: inline-flex;
  height: 25vh;
  width: 100vw;
  border-radius: 8px;
  background-color: #9a4e30;
}

footer {
  display: inline-flex;
  left: 0vw;
  bottom: 25vh;
  height: 25vh;
  width: 100vw;
  border-radius: 8px;
  background-color: #6b7050;
}

#mainimage {
  border-radius: 8px;

  top: 25vh;
  left: 0vw;
  height: 50vh;
  width: 100vw;
}
#nav {
  position: fixed;
  top: 24vh;
  left: 2vw;
}

#navitems a {
  position: sticky;
  box-sizing: flex-box;
  display: flex;
  border: 2px solid #70867f;
  border-radius: 8px;
  width: 50vw;
  height: 6vh;
  text-decoration: none;
  font-size: 10vw;
  background-image: linear-gradient(to bottom left, #dea17c, #9a4e30);
  color: #ddebd4;
  text-shadow: 2px 2px #6b7050;
}

#navitems a:hover {
  background-image: linear-gradient(to top, #dea17c, #9a4e30);
}
#navitems a.active {
  background-image: linear-gradient(to top right, #9a4e30, #dea17c);
}

/* SHOW HAMBURGER ICON */

#nav label {
  position: fixed;
  top: 10vh;
  left: 4vw;
  width: 20vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddebd4;
  background-image: linear-gradient(to top right, #9a4e30, #dea17c);
  border: solid #ddebd4 0px;
  border-radius: 8px;
  font-family: DancingScript;
  font-style: normal;
  font-size: 15vw;
  padding: 10px;
}

#nav label:hover {
  cursor: pointer;
  border: solid #dea17c 2px;
}

#hamburger {
  color: #9a4e30;
}

/* TOGGLE SHOW/HIDE MENU */

input[type="checkbox"] {
  visibility: hidden;
}
#navitems {
  display: none;
}

#nav input:checked ~ #navitems {
  display: block;
  background-image: linear-gradient(to top right, #ddebd4, #dea17c);
  border: solid #ddebd4 2px;
  border-radius: 8px;
}

#name {
  display: flex-box;
  position: fixed;
  top: 0vh;
  left: 3vw;
  font-size: 8.5vw;
  color: #ddebd4;
}

#address {
  display: flex-box;
  position: fixed;
  top: 8vh;
  left: 35vw;
  font-size: 5vw;
  color: #ddebd4;
}

#bottomaddress {
  display: flex-box;
  position: fixed;
  top: 78vh;
  left: 5vw;
  font-size: 5vw;
  color: #dea17c;
}
