html,
body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(228, 110, 15), aliceblue);
  overflow: hidden;
}

#nav {
  position: fixed;
  z-index: 99;
  top: 13vh;
  left: 2vw;
}

#navitems a {
  position: sticky;
  box-sizing: border-box;
  display: block;
  border: 2px solid dodgerblue;
  border-radius: 8px;
  width: 10vw;
  height: 4vh;
  text-decoration: none;
  font-size: 1.5vw;
  background-image: linear-gradient(to bottom left, aliceblue, dodgerblue);
  color: aliceblue;
  text-shadow: 2px 2px dodgerblue;
}

#navitems a:hover {
  background-image: linear-gradient(to top, aliceblue, dodgerblue);
}
#navitems a.active {
  background-image: linear-gradient(to top right, rgb(228, 110, 15), aliceblue);
}

/* SHOW HAMBURGER ICON */

#nav label {
  position: fixed;
  top: 5vh;
  left: 1vw;
  width: 1.5vw;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: dodgerblue;
  background-image: linear-gradient(
    to top right,
    rgb(228, 110, 15),
    aliceblue,
    dodgerblue
  );
  border: solid aliceblue 0px;
  border-radius: 8px;
  font-family: tahoma;
  font-style: normal;
  font-size: 1.5vw;
  padding: 10px;
}

#nav label:hover {
  cursor: pointer;
  border: solid aliceblue 2px;
}

#hamburger {
  color: red;
}

/* TOGGLE SHOW/HIDE MENU */

input[type="checkbox"] {
  visibility: hidden;
}
#navitems {
  display: none;
}

#nav input:checked ~ #navitems {
  display: block;
  background-image: linear-gradient(to top right, aliceblue, dodgerblue);
  border: solid aliceblue 2px;
  border-radius: 8px;
}
