@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Add animation (flicker text) */
@keyframes flicker {
  from {
    text-shadow: 0 0 5px #00dcff, 0 0 10px #00dcff, 0 0 20px #00dcff,
      0 0 40px #00dcff;
  }
  to {
    text-shadow: 0 0 5px #09889c, 0 0 10px #09889c, 0 0 20px #09889c,
      0 0 40px #09889c;
  }
}
/* Add animation (scroll through the staff pictures) */
@keyframes scroll {
  from {
    top: 0;
    transform: translateZ(0) rotateX(20deg);
  }
  to {
    top: -3000px;
    transform: translateZ(-1000px) rotateX(21deg);
  }
}
/* Add animation (fade in the staff pictures) */
@-webkit-keyframes fade {
  from {opacity: 0.4;} 
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
body {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0;
  text-decoration: none;
  background-image: url("../images/italiano.jpg");
  background-size: cover;
  
  overflow: hidden;
}



header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-grow: 4;
  height: 15vh;
  width: 100vw;
  border-radius: 8px;
  background-color: #9a4e30;
  z-index: 1;
}
main {
	overflow: hidden;
	
}
a {
  color: #ddebd4;
  text-shadow: 2px 2px maroon;
  text-decoration: none;
  }
  ul {
    list-style-type: none;

  }
  li a:hover {
    
    animation: flicker 1s ease-in-out infinite alternate;
  }

#mainlogo { /* style the restaurant name in the header */
  position: fixed;
  padding: 10px 10px;
  font-family: "Dancing Script", cursive;
  font-size: 4vmax;
  text-shadow: 2px 2px #dea17c;
  color: #ddebd4;
  animation: flicker 1s ease-in-out infinite alternate;
}
#headeraddress { /* style the address in header */
  
  padding: 10px 10px;
  position: fixed;
  top: 9vh;
  font-size: 1.3vh;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px #dea17c;
  color: #ddebd4;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0vw;
  bottom: 0vh;
  height: 15vh;
  width: 100vw;
  margin: auto;
  text-align: left;
  border-radius: 8px;
  background-color: #6b7050;
  z-index: 1;
}
#footeraddress { /* style the address in footer */
  position: fixed;
  left: 2vw;
  padding: 5px 5px;
  font-size: 1.75vh;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #ddebd4;
  text-shadow: 1px 1px #dea17c;
}

#navlabel { /* style the nav label in header */
  position: absolute;
  display: flex;
  left: 2%;
  top: 50%;
  transform:translate(0%, -50%);
  font-size: 3.5rem;
  color: #ddebd4;
  text-shadow: 2px 2px #dea17c;
  border-radius: 50%;
  cursor: pointer;
}

.sidenav { /* The side navigation menu */
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  align-items: center;
  background-image:linear-gradient(#70867f, white);
  border-radius: 8px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
}

/* The navigation menu links */
.sidenav a {
  
  margin-top: 8px;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight:bolder;
  color: aliceblue;
  text-shadow: 1px 1px #ddebd4;
  display: block;
  transition: 0.3s;
  animation: flicker 1s ease-in-out infinite alternate;
  justify-content: center;
  text-align:center;
   
}

#homeimage {


  border: solid 2px white;
  border-radius : 8px;
  background-image:url("../images/restaurant400.jpg");
  background-size: auto;
}
#menuimage { 
  
  
  border: solid 2px white;
  border-radius : 8px;
  background-image:url("../images/links/menu.jpg");
  background-size: auto;
}

#contactimage {
  
  
  border: solid 2px white;
  border-radius : 8px;
  background-image:url("../images/links/contact-us.jpg");
  background-size: auto;
}

#ourstaffimage {
  
  
  border: solid 2px white;
  border-radius : 8px;
  background-image:url("../images/links/staff.jpg");
  background-size: auto;
}

#undermenu {
  
  
  margin-top: 5pc;
  padding: 8px 8px 8px 8px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size:3ch;
  font-weight:bolder;
  color: maroon;
  text-shadow: 1px 1px dodgerblue;
  animation: flicker 1s ease-in-out infinite alternate;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: maroon;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0vh;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

#staffpic1,
#staffpic2,
#staffpic3,
#staffpic4,
#staffpic5,
#staffpic6 {
  display: flex;
  border-radius: 8px;
}

/* Slideshow container */
.slideshow-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  position: fixed;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons 
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
*/
/* Position the "next button" to the right */
/*
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
*/
/* On hover, add a black background color with a little bit see-through */
/*
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
*/
/* Caption text */

.staffname {
  font-family: "Dancing Script", cursive;
  color: #ddebd4;
  text-shadow: 2px 2px #9a4e30;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 8px 8px;
  position: absolute;
  top: 0rem;
  width: 100%;
  text-align: center;
  animation: flicker 1s ease-in-out infinite alternate;
}

/* Caption jobpos */
.jobpos {
  font-family: "Open Sans", sans-serif;
  color: #ddebd4;
  text-shadow: 1px 1px #70867f;
  font-size: 1.5ch;
  padding: 8px 12px;
  position: absolute;
  top: 3rem;
  width: 100%;
  text-align: center;
}

/* Caption info */
.info {
  background-color: #70867f;
  color: #ddebd4;
  margin: auto;
  padding: 0; 
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.65ch;
  position: absolute;
  bottom: -1rem;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ddebd4;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#socialmedia {
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  right: 2%;
}
#facebook,
#instagram,
#twitter {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
}

/* On smaller screens, where width is less than %%, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 320px) {

#socialmedia {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  right: 2%;
}

#facebook,
#instagram,
#twitter {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px;
}
}
/* contact.html page specific html */
.formwrapper {
  position: absolute;
  top: 15vh;
  left: 20vw;
  display: flex;
  flex-direction: column;
  width: 60vw; 
  height: 70vh;
  align-items: center;
		
}

#form {	
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 60vw;
  max-height:70vh;
  overflow-y: auto;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
label,
textarea {
  
  display: block;
  justify-content: center;
  background-color: aliceblue;
  font-size: medium;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #9a4e30;
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  border: 1px solid #6b7050; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 5px; /* Add a top margin */
  margin-bottom: 5px; /* Bottom margin */
  resize: unset; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #9a4e30;
  color: #ddebd4;
  font-size: x-large;
  padding: 12px 20px;
  border: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #dea17c;
}
#subject {
	height: 10vw;
	
}


.popup { /* style the map button */
	position: absolute;
  display:flex;
  padding: 2.5px;
  font-size: 1rem;
  cursor: pointer;
  border: solid 2px #ddebd4;
  border-radius: 50%;
  background-color: #dea17c;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #9a4e30;
  text-shadow: 2px 2px #ddebd4;
  z-index: 1; /* need this or its unlickable as footer is infront of it */
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  opacity:0;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  opacity: 1;
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  filter: blur(0);
  z-index:1;
}

#map { /* style the map */
  padding: 0;
  position: absolute;
  display: flex;
  top: -50vh;
  left: 50vw;
  transform: translate(-93.5vw, -37.5%);
  width: 80vw;
  height: 70vh;
  border-radius: 8px;
  z-index: 1;
 
}
/*  index.html page specific css */

#mainimage { /* style the main restaurant image */
  position: fixed;
  display: flex;
  top: 15vh;
  width: 100vw;
  height: 70vh;
  border-radius: 8px;
}

.textcontainer {
  position: absolute;
  left: 5vw;
  top: 15vh;
  height: 53%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;  	
}
#texteffect {
  margin:0;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  width: 88vw;
  height: 100%;
  font-size: 1.8rem;
  text-align: center;
  justify-content: top;
  align-items: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  color: white;
  text-shadow: 2px 2px maroon;
  overflow-y: auto;
} 
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
span {
  display: flex;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.openingtimes {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
  justify-content: flex-end;
  justify-self:auto;
  align-self:auto;
  margin: 0;
	padding:2px;
	bottom: 15vh;
	height: 15vh;
  width: 90vw;
  left: 5vw;
	font-family: "Open Sans", sans-serif;
	color: white;
	text-shadow: 2px 2px pink;
	animation: flicker 1s ease-in-out infinite alternate;	
  font-size: 1vh;
}	



#days {
  padding-left: 15px;
  padding-right: 5px;
  position: relative;
	display: flex;
	text-align: left;
	list-style-type: none;
  
}
#hours {
  padding-left: 5px;
  padding-right: 5px;
  position:relative;
	display: flex;
	text-align: left;
	list-style-type: none;
  
}
/* food menu specific css */

.foodmenu-wrapper {
  position: absolute;
  top: 15vh;
  left: 20vw;
  display: flex;
  flex-direction: column;
  width: 60vw; 
  height: 70vh;
  align-items: center;
  background-image:url("../images/menuborder.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; 
}
@media screen and (max-width: 440px) { /* small screen */
#menutitle { 
  position: sticky;
  top: 70vh;
  display:flex;
  margin: 1vh;
  padding: 10px 10px 10px 10px;
  font-size: 4vmax;
  font-family: "Dancing Script", cursive;
  color:#9a4e30;
  text-shadow: 2px 2px #ddebd4;
}
#food {
  position: sticky;
  top: 30vh;
  display :flex;
  flex-direction: column;
  list-style-type: none;
  margin: 1vh;
  padding: 10px 10px 10px 10px;
  font-size:5vmax;
  font-family: "Open Sans", sans-serif;
  color: #9a4e30;
  text-shadow: 2px 2px maroon;
}
#antipasti,#pizza,#pasta {
  margin: 2px;
  border: solid 2px white;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
#antipasti {
  background-image:url("../images/menu/brushetta.jpg");
  background-size: auto;
}
#pizza {
  background-image:url("../images/menu/pizza1.jpg");
  background-size: auto;
}
#pasta {
  background-image:url("../images/menu/pasta5.jpg");
  background-size: auto;
}
}
@media screen and (min-width: 440px) { /* big screen */

  .foodmenu-wrapper {
  
    position: absolute;
    top: 15vh;
    left: 20vw;
    display: flex;
    flex-direction: column;
    width: 60vw; 
    height: 70vh;
    align-items: center;
    background-image:url("../images/menuborder.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
  }
#menutitle {
  position: sticky;
  top: 70vh;
  display:flex;
  margin: 1vh;
  padding: 10px 10px 10px 10px;
  font-size: 4vmax;
  font-family: "Dancing Script", cursive;
  color:#9a4e30;
  text-shadow: 2px 2px #ddebd4;
}
#food {
  position: sticky;
  top: 20vh;
  display :flex;
  flex-direction: column;
  list-style-type: none;
  margin: 1vh;
  padding: 10px 10px 10px 10px;
  font-size:4vmax;
  font-family: "Open Sans", sans-serif;
  
}
#antipasti {
  margin: 2px;
  border: solid 2px white;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  background-image:url("../images/menu/brushetta.jpg");
  background-size: auto;
}
#pizza {
  margin: 2px;
  border: solid 2px white;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  background-image:url("../images/menu/pizza1.jpg");
  background-size: auto;
}
#pasta {
  margin: 2px;
  border: solid 2px white;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  background-image:url("../images/menu/pasta5.jpg");
  background-size: auto;
}
}

/* css specific to food menu pages */

.foodwrapper { /* style the page body */
  position: absolute;
    top: 15vh;
    left: 0vw;
    display: flex;
    flex-direction: row;
    width: 100vw; 
    height: 70vh;
    overflow-y: auto;


}
#foodmenu { /* style the menu */
   
  position: sticky;
  display: flex;
  align-content: center;
   border: groove 4px #9a4e30;
   border-radius: 8px;
   width: 70vw;
   height: 69vmax;
   background-color: white;
   align-items: center;
   

}
#foodimages { /* style the images */
  position: sticky;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: groove 4px #9a4e30;
  border-radius: 8px;
  width: 30vw;
  height: 69vmax;
  background-color: whitesmoke; 
  justify-content: center;
  align-items: center;

}
#pm {
  width:70vw;
}
#pizza1, #pizza2, #pizza3, #pizza4, #pizza5, #pizza6,
#pasta1, #pasta2, #pasta3, #pasta4, #pasta5, #pasta6,
#antipasti1, #antipasti2, #antipasti3, #antipasti4, #antipasti5, #antipasti6 {
  
  border-radius: 25px;
  height: 10vmax;
  padding-bottom: 8px;
  padding-left:2px;
  
  
  
}